/*!
 *  Crestron Neo Icons as fonts 1.0.0
 *  License - (Font: Crestron, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */


@font-face {
    font-family: 'Crestron Neo';
    src: url('../webfonts/cr-neo.eot?pkfne3');
    src: url('../webfonts/cr-neo.eot?pkfne3#iefix') format('embedded-opentype'),
        url('../webfonts/cr-neo.ttf?pkfne3') format('truetype'),
        url('../webfonts/cr-neo.woff?pkfne3') format('woff'),
        url('../webfonts/cr-neo.svg?pkfne3#CrestronNeo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    font-weight: 400;
}

.crneo {
    font-family: 'Crestron Neo';
    font-weight: 400;
}